<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Blueberry Ebook</title>
</head>

<body class="bg-primary text-white">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
    <div class="container">
      <a href="index.html" class="navbar-band">
        <h3 class="d-inline align-middle">Blueberry Web</h3>
      </a>
    </div>
  </nav>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>